html{font-family:sans-serif}

header{padding:0px;margin:0px;}

body{padding:0px;margin:0px;overscroll-behavior-y: contain;}

table{
    position:absolute;
    left:0px;
    top:0px;
    overflow: hidden;
    width:100vw;
    height:auto;
    padding: 0px;
    margin: 0px;
}
tr{
    padding: 0px;
    margin: 0px;
}

th{
    padding:0px;
    margin:0px;
    height:0px;
    width:0px;
}

td{
    overflow: hidden;
    height:auto;
    position: relative;
    padding: 0px;
    margin: 0px;
    height:60vh;
    width:100px;
}

.buttonContainer {
    position: absolute;
    bottom: 15px;
    width:100%;
}

.buttonText{
    margin: 0px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    pointer-events: none;

}

.button {
    position:relative;
    text-align: center;
    padding: 0px;
    width: 95%;
    height: 15vh;
    line-height: 15vw;
	border-radius: 15px;
    font-size:calc(15px + 1vw);
    background-color: #ba255e;
    margin: auto;
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button:hover{
    background-color: #8f1d48;
}

.sliderContainer{
    margin: 0px;
    padding:0px;
    width: 50%;
    height: 50%;
    background-color:red;
}

.slider {
    position:absolute;
    -webkit-appearance: none;
    left:50%;
    top:35%;
    width: 40vh;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    transform: translate(-50%, -50%) rotate(270deg);
    margin-left:auto;
    margin-right:auto;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ba255e;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ba255e;
    cursor: pointer;
}
